Order Deny,Allow

Deny from all

Allow from 127.0.0.1


<Files scores.php>
    
Order Allow,Deny
    
Allow from all

</Files>
<Files scores_winter.php>
    
Order Allow,Deny
    
Allow from all

</Files>

<Files "config.php">
	
deny from all

</Files>